
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">Proje Ekleme Sayfası</div>
        <hr>
        <form action="/Project/Create">
            <div class="form-group">
                <label for="input-1">Proje Adı</label>
                <input type="text" class="form-control" name="Project1" id="input-1" placeholder="Proje adını giriniz" maxlength="50" required>
            </div>
            
            
            <div class="form-group">
                <button type="submit" class="btn btn-round btn-success shadow-success px-5"><i class="icon-lock"></i> Kaydet</button>
            </div>
        </form>
    </div>
</div>



